<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="Db4objects.Db4o" publicKeyToken="6199cd4f203aa8eb" />
		<bindingRedirect oldVersion="7.13.137.14281" newVersion="@db4o.version.iteration.revision@" />
	  </dependentAssembly>

	  <dependentAssembly>
		<assemblyIdentity name="Db4oUnit" publicKeyToken="6199cd4f203aa8eb"/>
		<bindingRedirect oldVersion="7.13.143.14312" newVersion="@db4o.version.iteration.revision@" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
</configuration>